/.idea
/*.iml
/libraries
/out
/nbproject

/errors
/crash-reports
/settings.dat
/smorebank.dat
/special.dat
/*.ncpf
/version.version
/benchmark.ncpf
/benchmark.json

/build.xml
/manifest.mf
/dist/
/dssl.jar
/patrons-list.txt