/.idea
/*.iml
/libraries
/out
/nbproject

/errors
/crash-reports
/configurations
/dssl
/settings.dat
/smorebank.dat
/special.dat
/*.ncpf
/*.dssl
/version.version
/benchmark.ncpf
/benchmark.json
/dssl.jar
/patrons-list.txt

/build.xml
/manifest.mf
/dist/
/build/